<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Birdbot</title>
<link rel="shortcut icon" href="{{url_for('static', filename='bender.ico')}}">
  
<style type="text/css">

body
{
color: grey;
text-align: left;
font-family: georgia, arial;
font-size: 18px;
overflow: hidden;
background: url({{url_for('static', filename='bender.png')}});
background-size: 100%;
background-repeat: no-repeat;
position: absolute;
top: 40px;
left: 80px;
}

a:link {color: grey; text-decoration: none;}
a:visited {color: grey; text-decoration: none;}
a:hover {color: grey; text-decoration: none;}
a:active {color: grey; text-decoration: none;}

</style>
  
</head>
  
<body>

<h1>{{quote}}</h1>
  
</body>
</html>
